/.metadata/
.classpath
.project
.settings/
acc.directorio.mpq/target/classes/META-INF/maven/acc.directorio.mpq/acc.directorio.mpq/pom.properties
acc.tarea1.mpq/target/classes/META-INF/maven/acc.tarea1.mpq/acc.tarea1.mpq/pom.properties
creacion.proceso.mpq/target/classes/META-INF/maven/creacion.proceso.mpq/creacion.proceso.mpq/pom.properties
ejemplos.ficheros.mpq/target/classes/META-INF/maven/ejemplos.ficheros.mpq/ejemplos.ficheros.mpq/pom.properties
f.binario.mpq/target/classes/META-INF/maven/f.binario.mpq/f.binario.mpq/pom.properties
ficheros.mpq/target/classes/META-INF/maven/ficheros.mpq/ficheros.mpq/pom.properties
jdbc.mpq/target/classes/META-INF/MANIFEST.MF
jdbc.mpq/target/classes/META-INF/maven/jdbc.mpq/jdbc.mpq/pom.properties
prueba.hilos.mpq/target/classes/META-INF/maven/prueba.hilos.mpq/prueba.hilos.mpq/pom.properties
prueba.hilos2.mpq/target/classes/META-INF/maven/prueba.hilos2.mpq/prueba.hilos2.mpq/pom.properties
prueba.hilos3.mpq/target/classes/META-INF/maven/prueba.hilos3.mpq/prueba.hilos3.mpq/pom.properties
psp.bar.mpq/target/classes/META-INF/maven/psp.bar.mpq/psp.bar.mpq/pom.properties
psp.filosofos.mpq/target/classes/META-INF/maven/psp.filosofos.mpq/psp.filosofos.mpq/pom.properties
psp.transporte.mpq/target/classes/META-INF/maven/psp.transporte.mpq/psp.transporte.mpq/pom.properties
salida.entrada.mpq/target/classes/META-INF/maven/salida.entrada.mpq/salida.entrada.mpq/pom.properties
